jupyter

# Meachine Learning
numpy
matplotlib
tensorflow
scikit-learn
ipympl
networkx
pydot
graphviz
pydotplus
pandas
xgboost

# HuggingFace: Transformers
transformers[sentencepiece]
tf-keras

# HuggingFace: ASR
datasets[audio]
gradio
socksio
evaluate
